.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  border-bottom: 0.1px solid rgba(0,0,0,0.08);;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
 
  
}
.header_left {
  display: flex;
}
.header_left > img {
  object-fit: contain;
  height: 37px;
  margin-right: 10px;
}
.header_search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 18px;
  color: gray;
  background-color: #eef3f8;
  width: 250px;
}
.header_search > input {
  outline: none;
  border: none;
  background: none;
}
.header_right {
  /* border: 1px solid rebeccapurple; */
  display: flex;
}
.hr_border{
  height: 3rem;
  margin: 0 8px;
  color: gray;
  opacity: 0.3;
}


@media only screen and (max-width:667px) and (min-width: 375px) {
    .header{
      min-width: fit-content;
      max-width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
   
    .header_left{
      align-items: center;

    }
    .header_right{
      display: flex;
    }
    .media_header_right{
      display: none;
    }

    .header_search > input{
      display: none;
    }
    .header_search {
      background-color: #ffffff;
      width: auto;
    }
    .hr_border{
      height: 1.5rem;
    }
}
/* @media only screen and (max-width: 1024px) {
  .header_search > input {
    display: none;
  }

  .header_search {
    background-color: #ffffff;
    width: auto;
  }
} */
